In [11]:
import pandas as pd
import os
# os.chdir("/Users/r.swift/Documents/LearningAndDevelopment/DataLaunchPad/datalaunchpad-project")

In [43]:
september_22 = pd.read_parquet("yellow_tripdata_2022-09.parquet")
ny_taxi_zones = pd.read_csv("taxi_zones.csv")

# Data Exploration
## Data cleaning
- Remove duplicates,
- check for missing values, 
- check for 0s and NaNs, 
- format dates, 
- cast types as expected, 
- check for valid dates

In [51]:
september_22

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-09-01 00:28:12,2022-09-01 00:36:22,1.0,2.10,1.0,N,100,239,1,9.00,3.0,0.5,1.80,0.00,0.3,14.60,2.5,0.0
1,1,2022-09-01 00:51:58,2022-09-01 01:14:43,1.0,8.70,1.0,N,161,243,2,27.50,3.0,0.5,0.00,0.00,0.3,31.30,2.5,0.0
2,1,2022-09-01 00:08:29,2022-09-01 00:26:29,1.0,8.30,1.0,N,138,233,1,25.00,3.0,0.5,2.00,6.55,0.3,37.35,2.5,0.0
3,2,2022-09-01 00:02:24,2022-09-01 00:09:39,1.0,1.32,1.0,N,238,166,2,7.50,0.5,0.5,0.00,0.00,0.3,8.80,0.0,0.0
4,2,2022-09-01 00:47:25,2022-09-01 00:56:09,1.0,2.94,1.0,N,161,226,2,10.50,0.5,0.5,0.00,0.00,0.3,14.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183762,2,2022-09-30 23:46:31,2022-10-01 00:04:50,NaN,1.77,NaN,None,48,137,0,12.77,0.0,0.5,3.78,0.00,0.3,19.85,NaN,NaN
3183763,2,2022-09-30 23:43:29,2022-09-30 23:59:16,NaN,3.15,NaN,None,25,231,0,14.19,0.0,0.5,0.00,0.00,0.3,17.49,NaN,NaN
3183764,2,2022-09-30 23:45:30,2022-09-30 23:59:13,NaN,1.88,NaN,None,164,48,0,11.34,0.0,0.5,3.44,0.00,0.3,18.08,NaN,NaN
3183765,2,2022-09-30 23:09:37,2022-09-30 23:21:28,NaN,2.61,NaN,None,142,161,0,14.79,0.0,0.5,5.33,0.00,0.3,23.42,NaN,NaN
3183766,2,2022-09-30 23:49:00,2022-10-01 00:17:00,NaN,7.42,NaN,None,68,25,0,28.29,0.0,0.5,7.11,0.00,0.3,38.70,NaN,NaN

### Column
#### VendorID
1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.

In [67]:
september_22.drop_duplicates(inplace=True)
september_22['passenger_count'].isna().sum() # NUmber of NAs: 116592

0

# Project Idea
Tip prediction  
Initially based on the pick up and drop off locaiton of the journey
Would then like to bring in external weather data and see how this effects the tips

hi

In [21]:
len(parquet_data['tip_amount'].unique())

3683